.nav__container {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index: 1;
}
.nav__black {
  background-color: #111;
}
.logo > img {
  height: 60px;
  cursor: pointer;
}
.avatar {
  opacity: 0.8;
  background-color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.avatar > a > img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
